doctype html 
html 
    head 
        title Blog API 
        link(rel="stylesheet" href="/stylesheets/styles.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&family=Patrick+Hand&display=swap")

    body 

        div#top-nav
            
            div#header-container
                a(href="/")#header Blog API 

            div#header-info
           
                div#author-container
                    a#author(href=author[0].url) Author: #{author[0].username}

                div#post-count-container
                    p#post-count Posts: #{posts.length}

        block content